<div class="d-flex flex-row bd-highlight mb-3">
  <div class="p-2 w-50 bd-highlight">
    <div class="input-group mb-3">
      <span class="input-group-text">Nombre</span>
      <input type="text" class="form-control" [(ngModel)]="EmployeeName">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Apellido</span>
      <input type="text" class="form-control" [(ngModel)]="EmployeeLastName">
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text">Estado Civil</span>
      <select class="form-select" #estado (change)="onSelected(estado.value)">
           <option>--Select--</option>
            <option>Casado</option>
            <option>Soltero</option>
	    </select>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Hermanos </span>
      <label class="radio-inline">
        <input type="radio" #xHermano name="optradio" value="true" (change)="onRadioChange(xHermano.value)">Si
      </label>
      <label class="radio-inline">
        <input type="radio" #xHermano name="optradio" value="false" (change)="onRadioChange(xHermano.value)">No
      </label>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Fecha de Nacimiento</span>
      <input type="date" class="form-control" [(ngModel)]="DateOfBird">
    </div>
  </div>
  <div class="p-2 w-50 bd-highlight">
    <img width="250px" height="250px" [src]="PhotoFilePath" />
    <input class="m-2" type="file" (change)="uploadPhoto($event)">
  </div>
</div>
<button type="button" (click)="addEmployee()" *ngIf="emp.EmployeeId=='0'" class="btn btn-primary">
  Create
</button>

<button type="button" (click)="updateEmployee()" *ngIf="emp.EmployeeId!='0'" class="btn btn-primary">
  Update
</button>
